<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<title>電話帳システム</title>
</head>
<body>
<h1>一覧画面</h1>
<form method="post" action="/regist">
	<input type="submit" value="新規登録" style="position: relative; left: 200px; top: 10px"/>
</form>

<form method="post" action="/search">
<span>名前：</span>
	<input type="text" name="keyword" th:value="${keyword}" maxlength="20" />
	<input type="submit" value="検索" />
</form>

<span class="msg" th:text="${msg}"></span>

<table id="table" border="1" style="border-collapse: collapse">
	<tr>
		<th class="No">No</th>
		<th class="name">名前</th>
		<th class="phoneNumber">電話番号</th>
		<th class="upBtn"></th>
		<th class="delBtn"></th>
	</tr>

	<tr th:each="phoneBook, stat :${searchList}">
		<td th:text="${stat.count}"></td>
		<td th:text="${phoneBook.name}"></td>
		<td th:text="${phoneBook.phoneNumber}"></td>
		<td>
			<form method="post" action="/update"
				th:object="${inputForm}">
				<input type="hidden" name="id" th:value="${phoneBook.id}">
				<input type="hidden" name="name" th:value="${phoneBook.name}">
				<input type="hidden" name="phoneNumber" th:value="${phoneBook.phoneNumber}">
				<input type="submit" value="更新" />
 			</form>
 		</td>
		<td>
			<form method="post" action="/delete"
				th:object="${inputForm}" onsubmit="return submitChk()">
				<input type="hidden" name="id" th:value="${phoneBook.id}">
				<input type="hidden" name="name" th:value="${phoneBook.name}">
				<input type="hidden" name="phoneNumber" th:value="${phoneBook.phoneNumber}">
     			<input type="submit" onclick="return confirm('削除してもよろしいですか？')" value="削除" />
 			</form>
		</td>
	</tr>
</table>
<form method="post" action="/back">
	<input type="hidden" name="pageNumber" th:value="${pageNumber}">
	<input type="hidden" name="lastPageNumber" th:value="${lastPageNumber}">
	<div th:if="${pageNumber} != 1">
    	<input type="submit" value="◀前ページ" />
	</div>
	<div th:if="${pageNumber} == 1">
    	<input type="submit" value="◀前ページ" disabled="disabled"/>
	</div>
</form>
<form method="post" action="/next">
	<input type="hidden" name="pageNumber" th:value="${pageNumber}">
	<input type="hidden" name="lastPageNumber" th:value="${lastPageNumber}">
	<div th:if="${pageNumber} != ${lastPageNumber}">
		<input type="submit" value="次ページ▶" />
	</div>
	<div th:if="${pageNumber} == ${lastPageNumber}">
		<input type="submit" value="次ページ▶" disabled="disabled"/>
	</div>
</form>
</body>
</html>